@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/HomePageCss.css" rel="stylesheet" />
</head>
<div class="text-center header">
    <h1 class="display-4">Welcome to Car Builder Home Page</h1>
</div>
<div class="center">
    <img src="~/549626.jpg" alt="Alternate Text" />
</div>
